<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://FarmML"
            target="platform:/plugin/org.eclipse.papyrus.farming/model">
      </mapping>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="UML profile for farming"
            iconpath="icons/16x16/farm.png"
            name="FarmML"
            path="platform:/plugin/org.eclipse.papyrus.farming/model/FML.profile.uml"
            provider="CEA List">
      </profile>
   </extension>
<extension point="org.eclipse.papyrus.views.properties.context">
      <context contextModel="properties/FML.ctx">
      </context>
   </extension>
<extension
      point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
   <labelProvider
         priority="1"
         provider="org.eclipse.papyrus.farming.provider.DateLabelProvider">
   </labelProvider>
</extension>
<!--extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="Palette_FarmActivities"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif"
            name="Palette_FarmActivities"
            path="palettes/Palette_farmActivities.xml"
            provider="CEA LIST">
         <Priority
               name="Medium">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.activity">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="Palette_FarmStructure"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif"
            name="Palette_FarmStructure"
            path="palettes/Palette_farmStructure.xml"
            provider="CEA LIST">
         <Priority
               name="Medium">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension-->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FML -->
      <package
            uri="http://Papyrus/FarmML"
            class="org.eclipse.papyrus.farming.farmml.FarmMLPackage"
            genModel="model/FML.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="platform:/plugin/org.eclipse.papyrus.farming/model/FML.profile.uml#_v95fAFhaEeS2s4tLeOdjEw"
            uri="http://Papyrus/FarmML">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.extendedtypes.extendedElementTypeSet">
      <extendedTypesSet
            id="org.eclipse.papyrus.farming.types"
            path="types/Farming.extendedtypes">
      </extendedTypesSet>
   </extension>
  

</plugin>
