Class > Compartment[kind="operations"],
Class > Compartment[kind="nestedclassifiers"] {
    visible:false;
}
Stereotype > Compartment[kind="operations"] {
    visible:false;
}
Association > Label:sourceRole {
	maskLabel: name ;
}

Association > Label:targetRole {
	maskLabel: name ;
}

Property  {
	maskLabel: name type multiplicity ;
}